@import url(fonts.css);
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  line-height: 1;
  background-color: #ffffff;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.clear {
  float: none;
  clear: both;
}

.wrapper > section {
  width: 100%;
}

.banner {
  background-image: url("../img/banner2.jpg");
  background-size: cover;
}
.banner .logo-container img {
  display: block;
  width: 230px;
  height: 160px;
  margin: auto;
}
.banner .scrolldown-container {
  width: 130px;
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -65px;
}
.banner .scrolldown-container p {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 13px;
}
.banner .scrolldown-container img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  transition: all linear 200ms;
  -webkit-transition: all linear 200ms;
  -moz-transition: all linear 200ms;
}
.banner .scrolldown-container img:hover {
  -webkit-animation: scrolldownEffect 3s infinite;
  animation: scrolldownEffect 3s infinite;
}

.section-text h2 {
  font-size: 60px;
  line-height: 64px;
  font-family: "playfair_displayitalic", sans-serif;
  margin-bottom: 8px;
}
.section-text p {
  font-size: 20px;
  line-height: 28px;
  font-family: "ralewayregular", sans-serif;
}
.section-text hr {
  margin-bottom: 50px;
  border: 0;
}
@media screen and (max-width: 767px) {
  .section-text {
    width: 100% !important;
    float: none !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .section-text > div {
    padding: 20px 20px !important;
  }
  .section-text hr {
    margin-bottom: 45px !important;
  }
}

.section1 {
  background-color: #000000;
  background-image: url("../img/section1.jpg");
  background-size: cover;
}
.section1 .section-text {
  color: #9F7132;
  width: 50%;
  float: left;
  padding-left: 80px;
  padding-right: 120px;
}
.section1 .section-text hr {
  background: #9F7132;
  width: 127px;
  height: 4px;
  display: inline-block;
}
.section1 .section-text .text-description {
  width: 500px;
}
@media screen and (max-width: 767px) {
  .section1 .section-text .text-description {
    width: 90%;
  }
}

.section2 .section-text {
  color: #9F7132;
  width: 50%;
  float: right;
  padding-left: 80px;
  padding-right: 120px;
}

.section3 {
  background-color: #000000;
}
.section3 .section-text {
  color: #ffffff;
  width: 1100px;
  margin: auto;
  text-align: center;
}
.section3 .section-text > div {
  padding: 80px 25px;
  border: 2px solid #9D8264;
}
.section3 .section-text h2 {
  margin-bottom: 10px;
}
.section3 .section-text .english-translate {
  margin-bottom: 16px;
}
.section3 .section-text hr {
  width: 170px;
  height: 5px;
  display: block;
  margin: auto;
  background: #9D8264;
  margin-bottom: 70px;
}
@media screen and (max-width: 767px) {
  .section3 .section-text {
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .section3 .section-text {
    width: 90%;
  }
  .section3 .section-text > div {
    padding: 40px 25px;
  }
}
@media screen and (min-width: 992px) {
  .section3 .section-text {
    width: 960px;
  }
  .section3 .section-text > div {
    padding: 80px 25px;
  }
}
@media screen and (min-width: 1200px) {
  .section3 .section-text {
    width: 1100px;
  }
}

.cuisine-location {
  height: 400px;
}
.cuisine-location.luzon {
  background-image: url("../img/luzon-background.jpg");
  background-size: cover;
}
.cuisine-location.visayas {
  background-image: url("../img/visayas-background.jpg");
  background-size: cover;
}
.cuisine-location.mindanao {
  background-image: url("../img/mindanao-background.jpg");
  background-size: cover;
}
.cuisine-location .cuisine-loc-container {
  width: 100%;
  height: 400px;
  transition: all linear 700ms;
  -webkit-transition: all linear 700ms;
  -moz-transition: all linear 700ms;
  padding: 150px 0;
  position: relative;
  overflow: hidden;
}
.cuisine-location .cuisine-loc-container .cuisine-loc-details {
  transition: all linear 700ms;
  -webkit-transition: all linear 700ms;
  -moz-transition: all linear 700ms;
  opacity: 0;
}
.cuisine-location:hover .cuisine-loc-container {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 84px 0;
}
.cuisine-location:hover .cuisine-loc-container .cuisine-loc-details {
  opacity: 1;
}
.cuisine-location h2 {
  font-family: "ralewaybold", sans-serif;
  font-size: 65px;
  line-height: 70px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 14px;
}
.cuisine-location hr {
  width: 180px;
  height: 8px;
  background: #ffffff;
  margin-bottom: 14px;
}
.cuisine-location .cuisine-loc-details {
  text-align: center;
}
.cuisine-location .cuisine-loc-details p {
  color: #ffffff;
  font-family: "ralewayregular", sans-serif;
  font-size: 22px;
  margin-bottom: 24px;
}
.cuisine-location .cuisine-loc-details a {
  padding: 15px 30px;
  border: 1px solid #9F7132;
  color: #ffffff;
  font-family: "ralewaybold", sans-serif;
  font-size: 26px;
  display: block;
  width: 195px;
  margin: auto;
  text-decoration: none;
  transition: all linear 500ms;
  -webkit-transition: all linear 500ms;
  -moz-transition: all linear 500ms;
}
.cuisine-location .cuisine-loc-details a:hover {
  background: #9F7132;
}
@media screen and (max-width: 767px) {
  .cuisine-location .cuisine-loc-container {
    padding: 84px 0;
  }
  .cuisine-location .cuisine-loc-container .cuisine-loc-details {
    opacity: 1;
  }
}

.footer footer {
  width: 100%;
  height: 200px;
  text-align: center;
  padding: 75px 0;
}
.footer footer h4 {
  font-family: "ralewaybold", sans-serif;
  color: #9F7132;
  font-size: 18px;
  margin-bottom: 8px;
}
.footer footer p {
  font-family: "ralewayregular", sans-serif;
  color: #757575;
  font-size: 14px;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 105px;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}
.dropdown .dropdown-menu li {
  float: none !important;
  padding: 10px 20px !important;
}
.dropdown .dropdown-menu li:hover {
  background: rgba(255, 255, 255, 0.3);
}
.dropdown .dropdown-menu li:hover a {
  background: transparent;
}

@-webkit-keyframes scrolldownEffect {
  0% {
    transform: translateY(8%);
  }
  50% {
    transform: translateY(0%);
  }
}
@keyframes scrolldownEffect {
  30% {
    transform: translateY(8%);
  }
  60% {
    transform: translateY(0%);
  }
}
