.earnings-proof{
  background-color: darken($white, 10%);
  padding: 15px 0;

  .trusted{
    font-family: 'robotoregular', sans-serif;
    @include font-size(32px);
    color: lighten($black, 35%);

    strong{
      font-family: 'robotobold', sans-serif;
    }
  }

}
