.how-it-works{
  padding: 30px 0;
  background-color: $blue;

  h2{
    color: $white;
    @include font-size(56px);
    text-align: center;
    font-family: 'robotoregular', sans-serif;
    margin-bottom: 40px;
  }

  .steps-container{
    margin: auto;
    width: 310px;

    ul{
      // display: inline-table;

      li{
        // display: table-row;
        list-style: none;
        margin-bottom: 80px;

        &:last-child{
          margin-bottom: 40px;
        }

        div{
          display: table-cell;
          vertical-align: middle;

          &.steps-number{
            font-family: 'robotoregular',sans-serif;
            color: $white;
            @include font-size(50px);
            padding: 8px 21px;
            @include border-radius(100%);
            border: 1px solid $white;
            position: relative;

            .line{
              position: absolute;
              bottom: -81px;
              left: 50%;
              margin-left: -0.5px;
              height: 80px;
              background-color: $white;
              width: 1px;
            }

          }
          &.steps-desc{
            font-family: 'robotoregular',sans-serif;
            color: $white;
            @include font-size(32px);
            padding: 0px 20px;
          }

        }

      }

    }

  }

}
