.survey-companies{

  .center-block{
    @include bp-xsmall{
      padding: 60px 0;
      padding-bottom: 45px;
      position: relative;
    }
  }

  .partner-numbers{
      font-family: 'robotoregular', sans-serif;
      @include font-size(32px);
      color: lighten($black, 15%);
      text-align: center;

      .numbers{
        font-family: 'robotobold', sans-serif;
        color: $blue;
        @include font-size(120px);
      }

  }

  .companies{

    @include bp-xsmall{
      .img{
        display: block;
        position: absolute;

        &.company1{
          bottom: 60px;
          left: 0;
          width: 58px;
          height: auto;
        }
        &.company2{
          left: 16px;
          top: 59px;;
          width: 85px;
          height: auto;
        }
        &.company3{
          top: 28px;
          width: 94px;
          left: 50%;
          margin-left: -47px;
        }
        &.company4{
          right: 8px;
          top: 59px;;
          width: 96px;
          height: auto;
        }
        &.company5{
          bottom: 67px;
          right: 0;
          width: 64px;
          height: auto;
        }

      }
    }

  }

}
